.role-info {
  display: flex;
  flex-wrap: wrap;
}

.role-count {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
.role-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.role-card {
  flex: 1;
  min-width: calc(33.333% - 20px); /* 3 cards per line on a phone */
  margin: 10px;
  padding: 10px; /* Reduced padding */
  border: 10px solid #ccc; /* Reduced border width */
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.role-card:hover {
  background-color: #f0f0f0a9;
  cursor: pointer;
}
@media (min-width: 768px) {
  .role-card {
    min-width: calc(25% - 20px); /* 4 cards per line on larger screens */
  }
}
@media (min-width: 1000px) {
  .role-card {
    min-width: calc(20% - 20px); /* 5 cards per line on larger screens */
  }
}

.role-icon {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}
.role-card.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: darkslateblue;
  overflow-y: auto;
}
.role-description {
  font-size: 16px;
  line-height: 1.5;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: purple;
}
