.lobby-dashboard {
  overflow-y: auto;
  flex-direction: column;
  padding: 20px;
  flex-direction: column;
  align-items: center; /* Horizontally center */
  justify-content: center; /* Vertically center */
  height: 100vh; /* Full screen height */
}
.lobby {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center */
  justify-content: center; /* Vertically center */
  height: 100vh;
}
.player-info-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center */
  justify-content: center; /* Vertically center */
  width: 100%; /* Take full width to enforce centering */
  margin-top: 20px;
}

.game-logo {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8; /* add transparency  */
}
.lobby-title {
  font-size: 2em;
}
.input-button-wrapper {
  display: flex;
  justify-content: center; /* Center elements in the row */
  align-items: center; /* Align items vertically */
}
.custom-name-input {
  margin-right: 10px; /* Space between input and button */
  font-family: "IM Fell English SC", serif;
  background-color: #5c4742;
  width: 30%;
}
.submit-button {
  cursor: pointer;
  padding: 10px 20px; /* Reduce button size */
}

.name-input-section {
  display: flex;
  align-items: center; /* Align items in the row */
}

.name-input {
  margin-bottom: 10px;
}

.submit-button {
  cursor: pointer;
}

.player-info-section {
  margin-top: 20px;
}

.welcome-message {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.current-players,
.narrator-info {
  font-size: 1em;
  margin-bottom: 10px;
}
.player-info-narrator-section .card-section {
  width: 100%;
}
