.player-dashboard-in-game {
  padding: 20px;
}

.dashboard-title {
  font-size: 2em;
}

.game-start-message,
.status {
  font-size: 1em;
  margin-bottom: 10px;
}

.status-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.alive-indicator {
  background-color: green;
}

.dead-indicator {
  background-color: red;
}

.players-title {
  font-size: 1.5em;
  margin-top: 20px;
}

.player-list {
  display: flex;
  flex-wrap: wrap;
}

.player-card {
  width: 30%;
  margin: 10px;
}

.player-info {
  font-size: 1em;
}
.player-dashboard-in-game {
  padding: 20px;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
}

.game-logo {
  width: 100px; /* You can adjust this */
  position: absolute;
  top: 0;
  left: 0;
}

.dashboard-title {
  font-size: 2em;
  margin-left: 110px; /* Adjust based on the logo width */
}

.name-input-container {
  margin-top: 20px;
}

.name-input {
  background-color: #8ec7d2;
  width: 30%; /* You can adjust this */
}
